body {
    font: 1.1em Calibri;
    background-color: white;
    margin: 30px auto;
    width: 90%;
}

a{
    color: #2EA3C9;
}

a:hover{
    color: #128AB3;
    border-bottom: 1px solid #128AB3;
}

ul, li{
    margin: 0;
    padding: 0;
}

header {
    display: inline;
    padding: none;
}

h1, h2, h3{
    color: #BF3939;
    font-family: 'Montserrat', Calibri;
    border-bottom: 2px solid #BF3939;
    padding: 10px 0;
    margin-top: -10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #BF3939;
    color: white;
}
