h2 b{
	color: #F5AC36;
}

#profile, #listing{
	margin: 0 0 20px 0;
	overflow: auto;
    border: 1px solid #ddd;
    padding: 20px 0;
}

.profileimage, .listingimage{
	width: 30%;
	float: left;
}

.profileimage .pic, .listingimage .pic{ 
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
  margin: 20px 0;
}

.profileimage .listpic, .listingimage .listpic{
	margin: 0 auto;
}

.listpic img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.profileinfo, .listinginfo{
	width: 60%;
	float: left;
	padding: 20px;
	font-size: 1.1em;
}

.profileinfotext, .listinginfotext{
	line-height: 5px;
}

.booklist, .listing{
	clear: both;
}

#messagebutton{
    background-color: #BF3939;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 5px 10px;
    cursor: pointer;
    float: right;
}

#messagebutton:hover{
    background-color: #7D7D7D;
    cursor: pointer;
}

.listingstatus{
    background-color: #BF3939;
    border: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    font-size: 1.1em;
}

/********* Mobile View ***********/


@media (max-width: 980px) {
		#profileprofile{
			margin: 0 0 20px 0;
			overflow: auto;
		    border: 1px solid #ddd;
		    padding: 20px 0;
		}

		.profileimage{
		  padding: 0px;
		}

		.profileimage .pic { 
		  max-height: 200px;
		  max-width: 200px;
		  overflow: hidden;
		  margin: auto;
		  display: block;
		}

		.profileimage .listpic{
			margin: 0 auto;
		}

		.profileinfo{
		  display: block;
		  padding: 0 20px;
		  margin-top: -20px;
		}

		.sendmessage{
			position: relative;
			overflow: auto;
			clear: both;
			margin: 5px auto;
		}

		#messagebutton{
		    background-color: #BF3939;
		    border: none;
		    color: white;
		    padding: 10px 50px;
		    text-align: center;
		    text-decoration: none;
		    display: block;
		    font-size: 1.1em;
		    margin: 10px;
		    float: none;
		    position: relative;
		}

		#messagebutton:hover{
			background-color: #7D7D7D;
		    cursor: pointer;
		}

    }

@media (max-width: 650px) {
       	#profile, #listing{
			margin: 0 0 20px 0;
			overflow: auto;
		    border: 1px solid #ddd;
		    padding: 20px 0;
		}

		.profileimage, .listingimage{
		  padding: 0px;
		}

		.profileimage .pic, .listingimage .pic{ 
		  max-height: 100px;
		  max-width: 100px;
		  overflow: hidden;
		  margin: auto;
		  display: block;
		}

		.profileimage .listpic, .listingimage .listpic{
			margin: 0 auto;
		}

		.profileinfo, .listinginfo{
		  display: block;
		  padding: 0 5px;
		  margin-top: -20px;
		}

		.profileinfotext, .listinginfotext{
		  line-height: auto;}
}

