/******************** Basic Styling ********************************/


body {
    font: 1.1em Calibri;
    background-color: #F7F7F5;
    margin: 0 auto;
    width: 85%;
}

a{
    color: #2EA3C9;
}

a:hover{
    color: #128AB3;
    border-bottom: 1px solid #128AB3;
}

ul, li{
    margin: 0;
    padding: 0;
}

header {
    display: inline;
    padding: none;
}

h1, h2, h3{
    color: #BF3939;
    font-family: 'Montserrat', Calibri;
    border-bottom: 3px solid #BF3939;
    padding: 5px 0;
    margin-top: -10px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/******************** Basic Input Styling ********************************/


input[type=text],input[type=password],input[type=email]{
    width: 50%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: 1px solid #A33C3C;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:required, textarea:required{
    background: #fff url(images/asterisk.png) no-repeat 98% center;
}


select{
    padding: 5px 20px;
}

#loginError{
    color: #BF3939;
}

/******************** Navigation Searchbar Styling ********************************/


#closemessage{
    float: right;
    margin-right: -100px;
    margin-top: -80px;
    cursor: pointer;
}

#closemessage2{
    float: right;
    margin-right: -100px;
    margin-top: -80px;
    cursor: pointer;
}

.searchbar .button, .advancedsearch{
    background-color: #BF3939;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

.searchbar .button{
    position: relative;
    display: inline-block;
    left: -18px;
    color: #fafafa;
}

.advancedsearch{
    padding: 10px 20px;
    margin-left: -10px;
    margin-top: -10px;
}

.searchicon{
    position: relative;
    z-index: 1;
    left: 40px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0 10px;
}

button, input[type=submit]{
    background-color: #BF3939;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

.button:hover, .advancedsearch:hover, button:hover, input[type=submit]:hover{
    background-color: #6B2020;
    cursor: pointer;
    text-decoration: none;
}

.minorbutton{
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

.minorbutton:hover{
    background-color: darkgrey;
    cursor: pointer;
    text-decoration: none;
}

/******************** Logo and Navigation ********************************/

#logo{
    display: inline-block;
    margin: -10px 20px 0 10px;
    float:left;
}

#web_nav {
    background-color: white;
    padding: 50px 30px 30px 30px;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
}

#web_nav ul{
    list-style-type: none;
    margin: -45px 0 0 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
    display: inline;
    float: right;
}

#web_nav .icon {display: none;}

#web_nav form{
    display: inline-block;
}

#web_nav li {
    float: left;
    margin: 0 5px;
}

#web_nav li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

#userlinks{
    overflow: hidden;
}

.dropdownnav{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #f2f2f2;
}

.dropdownnav a{
    margin: 10px 0;
}

a.web_link:hover {
    color: #2EA3C9;
    border-bottom: 1px solid #2EA3C9;
    }

.registerlink, .loginlink{
    border: 1px solid #2EA3C9;
}

.registerlink:hover, .loginlink:hover, a.registerlink:hover, a.loginlink:hover{
    background-color: #2EA3C9;
    color: white;
}

#container{
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    width: 100%;
    background: white;
}

/******************** Homepage Section Styling ********************************/

.welcome{
    padding: 50px 10px;
    background-color: #EDEBE4;
    height: 200px;
    margin: 0 -30px 20px -30px;
    animation: fadein 1;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.welcometext{
    width: 80%;
    margin: auto;
}

.welcometext h1{
    border: none;
}

.welcometext p{
    font-size: 1.3em;
}


/******************** Book Category Styling ********************************/

.bookcategories ul{
    list-style: none;
    margin: 0 auto 10px auto;
    overflow: auto;
    text-align: center;
}

.bookcategories ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bookcategories ul a:hover{
    text-decoration: none;
}


.categories li{
    display: inline-block;
    width: 10%;
    margin: 10px 20px 10px 0;
}

.categories li a{
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.categories li:nth-child(1n){
    background-color: #BF3939;
    animation: fadein 3 linear;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.categories li:nth-child(2n){
    background-color: #96CED9;
    animation-delay: 1s;
    animation: fadein 1 linear;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.categories li:nth-child(3n){
    animation-delay: 2s;
    background-color: #E8D066;
    animation: fadein 1 linear;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.categories li a:hover{
    background-color: #383736;
}


/******************** Book Listing Grid Layout Styling ********************************/


.booklist ul{
    list-style: none;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    animation: fadein 1;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.booklist ul a{
    text-decoration: none;
}

.booklist li{
    display: inline-block;
    text-align: left;
    padding: 20px;
    width: 30%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 20px 10px 0;
    min-height: 300px;
}


.buybutton{
    float: right;
    margin-top: -35px;
}

.buybutton a{
    background-color: #9C9C9C;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}


.pending{
    float: right;
    margin-top: -45px;
    background-color: #9C9C9C;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}

.buybutton a:hover{
    background-color: #6B2020;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.pending:hover{
    cursor: default;
}

.buy a{
    background-color: #2EA3C9;
}
.swap a{
    background-color: #75D15E;
}


.listtitle{
    font-family: 'Open Sans', Calibri;
    letter-spacing: -1px;
    font-size: 1.7em;
    margin: 10px 0;
    font-weight: bold;
}

.bookinfo{
    clear: both;
    color: #9C9C9C;
}

.listusername{
    font-weight: bold;
    margin: 15px 0 0 0;
    font-size: 1.5em;
}

.location{
    color: #9C9C9C;
    margin: 0 0 5px 0;
}

.pic { 
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
  margin: 20px auto;
}

.listpic img{
    max-height: 100%;
    max-width: 100%; 
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.listpic img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

/******************** Form Styling ********************************/

.form {
    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: left;
}
.form ul {
    width: 100%;
    list-style-type:none;
}
.form li {
    padding:10px; 
    position:relative;
    font: .9em Verdana, sans-serif;
}
.form label {
    width: 200px;
    margin-top: 5px;
    padding: 3px;
    display: inline-block;
    float: left;
}

.radio{
    margin-left: 210px;
}

.radiosearch{
    margin-left: 220px;
    position: relative;
    float: left;
}
#divError {
    color: red;
    font-weight: bold;
}

legend{
    display: none;
}

/******************** Login Page ********************************/

.loginForm{
    width: 30%;
    margin: auto;
    animation: fadein 1;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    
}

.loginForm input{
    width: 100%;
}

#login_logo, header{
    margin: 30px auto;
    text-align: center;
}

#login_nav #logo{
    margin: 20px auto;
    clear: both;
    float: none;
}

#login_nav {
    background-color: white;
    text-align: center;
    width: 100%;
}

#loginButton{
    width: 100%;
    margin-top: -10px;
}

#joinButton{
    width: 100%;
    padding: 10px 0;
}




/******************** Search Page Styling ********************************/
/*
#searchpage{
    width: 90%;
    border: 1px solid lightgray;
    overflow: auto;
}

#searchpage h1{
    font-size: 1.1em;
}

.twocol{
    width: 50%;
    float: left;
}

.twocol input[type=text] {
    width: 50%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.twocol input[type=text]:focus {
    border: 1px solid #A33C3C;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
*/

#searchpage{
    border: 1px solid lightgray;
    width: 20%;
    float: left;
    padding-top: 30px;
    margin: 0px 20px 0px 20px;
}

#floatright{
    width: 60%;
    float: left;
    margin: 50px;
}

.booklist {
    overflow: auto;
}

.searchlist li{
    display: inline-block;
    text-align: left;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 20px 10px 0;
}

#searchpage h1{
    font-size: 1.1em;
}

#searchpage input[type=text] {
    width: 90%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchpage input[type=text]:focus {
    border: 1px solid #A33C3C;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/******************** Footer ********************************/

footer {
    border-top: 1px solid #F7F7F5;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    clear: both;

}

a.footer_info:link, a.footer_info:visited, a.footer_info:active {
    text-decoration: none;
    margin: 0 10px;
    color: #003399;
}

a.footer_info:hover {
    color: #69ABCF;
}



/********* Mobile View ***********/


@media (max-width: 980px) {

        body{
            /*border: 1px solid red;*/
            margin: 10px auto;
        }

        .searchbar, .navlinks{
            display: block;
            overflow: auto;
            /*border: 1px solid blue;*/
            width: 100%;
        }

        #logo{
            float: left;
        }

        #web_nav{
            margin: 0;
            padding: 0;
            overflow: auto;
            z-index: 100;
            display: block;
        }

        #logo{
            text-align: center;
        }

        .navlinks{
            text-align: center;
            position: relative;
            float: none;
            padding: 50px;
            overflow: auto;
        }

        .navlinks li{
            text-align: center;
            font-size: 1.5em;
            float: none;
            width: 100%;
        }

        #links{
            display: none;
        }

        #web_nav .icon{
            float: right;
            display: inline-block;
            margin: 20px;
        }

        .searchbar{
            position: relative;
            display: block;
            margin: 10px 0 50px 0;
            text-align: center;
            color: #fafafa;
            /*border: 1px solid orange;*/
        }

        #container{
            width: 100%;
            margin: none;
            /*border: 1px solid black;*/
            overflow: auto;
            padding: 0;
        }

        .booklist ul {
            margin: 0;
        }
        .booklist li {
            width: 50% !important; /* over-ride all li styles */
            margin: 0;
            padding: 20px;
            float: left;
        }

        .pic { 
          max-height: 100%;
          max-width: 100%;
          overflow: hidden;
        }

        .listpic{
            margin: 0 auto;
        }

        .listpic img{
            max-height: 100%;
            max-width: 100%; 
          -webkit-transition: all 1s ease;
             -moz-transition: all 1s ease;
               -o-transition: all 1s ease;
              -ms-transition: all 1s ease;
                  transition: all 1s ease;
        }

    }

@media (max-width: 680px) {
        .booklist li {
            width: 100% !important; /* over-ride all li styles */
            margin: 0 0 20px;
            padding: 20px;
        }
        .buybutton{
            float: none;
            display: inline-block;
            position: relative;
            margin-top: 25px;
        }

        .advancedsearch{
            display: block;
            position: relative;
            margin: 10px 0;
        }
}